{{define "content"}}
    <span class="title">Start Your Journey</span>
    <div class="uk-margin">
        <label class="uk-form-label" for="email">Email</label>
        <input class="uk-input" id="email" name="email">
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="password">Password</label>
        <input class="uk-input" id="password" name="password">
    </div>
    <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width">Login</button>
        <a class="uk-button uk-button-secondary uk-width" href="/register">
            Create an Account
        </a>
    </div>
{{end}}