{{define "content"}}
    <h1>Petitions</h1>
    <button class="uk-button uk-button-secondary uk-width">Create New Petition</button>
    <div id="main" class="uk-margin uk-child-width-1-2@s uk-grid-match" uk-grid></div>
    <script>
        window.onload = ()=>{
            let html = "";
            data.forEach((res) => {
                html += `
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title">${res.Content}</h3>
                        <p>${res.Status}</p>
                    </div>
                </div>
                `
            });
            document.getElementById("main").innerHTML = html
        }

    </script>
{{end}}